# Defaults are set for GoCreate / Wichita, Kansas.
NEXT_PUBLIC_MIRROR_NAME=GoCreateMirror
NEXT_PUBLIC_MIRROR_TIMEZONE=America/Chicago
NEXT_PUBLIC_MIRROR_LOCATION=Wichita, KS
NEXT_PUBLIC_MIRROR_LATITUDE=37.7195
NEXT_PUBLIC_MIRROR_LONGITUDE=-97.2934
NEXT_PUBLIC_AUTO_RELOAD_MINUTES=10
